@model ApplicationCore.Models.MovieDetailsResponseModel

@{
    ViewData["Title"] = "Movie Details";
}

<div class="rounded">
    <div class="container-fluid">
        <div class="row">
            @Model.Budget
        </div>
        <div class="row">
            @Model.Budget
        </div>
        <div class="row">
            @Model.Budget
        </div>
    </div>
</div>
